# https://www.buildbuddy.io/blog/how-bazel-7-0-makes-your-builds-faster/
startup --digest_function=BLAKE3

import %workspace%/bazel/defaults.bazelrc

# Avoid overloading the remote cache with tar outputs.
# See https://github.com/bazel-contrib/tar.bzl/blob/main/README.md#remote-cache-and-rbe
common --modify_execution_info=Tar=+no-remote-cache

build --aspects=@syft.bzl//syft:defs.bzl%syft_sbom_aspect
build --aspects=@grype.bzl//grype:defs.bzl%grype_aspect
build --@grype.bzl//grype:database=@grype_database
build --@grype.bzl//grype:fail_on_severity=high
build --sandbox_add_mount_pair=/tmp

common --modify_execution_info=GrypeScan=+no-remote

build --workspace_status_command=bazel/workspace_status.sh

# Remote cache (GCS)
build:gcs --remote_cache=https://storage.googleapis.com/bazel-senku-remote-cache
build:gcs --google_default_credentials
build:gcs --remote_cache_compression
build:gcs --remote_cache_async

# CI includes GCS remote cache
build:ci --config=gcs

# Don't build protoc from the cc_binary, it's slow and spammy when cache miss
common --@protobuf//bazel/toolchains:prefer_prebuilt_protoc
common --incompatible_python_disallow_native_rules

# Allow user-specific overrides for this repository
# in a git-ignored file.
# Should be at the end of this file so that users can override anything above.
try-import %workspace%/.bazelrc.user
