# https://www.buildbuddy.io/blog/how-bazel-7-0-makes-your-builds-faster/
startup --digest_function=BLAKE3

import %workspace%/bazel/defaults.bazelrc

# Avoid overloading the remote cache with tar outputs.
# See https://github.com/bazel-contrib/tar.bzl/blob/main/README.md#remote-cache-and-rbe
common --modify_execution_info=Tar=+no-remote-cache

build --aspects=@syft.bzl//syft:defs.bzl%syft_sbom_aspect
build --aspects=@grype.bzl//grype:defs.bzl%grype_aspect
build --@grype.bzl//grype:database=@grype_database
build --@grype.bzl//grype:fail_on_severity=high
build --sandbox_add_mount_pair=/tmp

# Grype CVE scans: database transfer to RBE workers is too slow (~80s vs ~2s local),
# but results should still be cached remotely
common --modify_execution_info=GrypeScan=+no-remote-exec

build --workspace_status_command=bazel/workspace_status.sh

# Remote cache (GCS)
common:gcs --remote_cache=https://storage.googleapis.com/bazel-senku-remote-cache
common:gcs --google_default_credentials
common:gcs --remote_cache_compression
common:gcs --remote_cache_async

# Remote cache (BuildBuddy)
# Set API key in .bazelrc.user: common:buildbuddy --remote_header=x-buildbuddy-api-key=YOUR_KEY
common:buildbuddy --remote_cache=grpcs://remote.buildbuddy.io
common:buildbuddy --remote_cache_compression
common:buildbuddy --remote_cache_async
common:buildbuddy --remote_timeout=1200
common:buildbuddy --grpc_keepalive_time=360s
common:buildbuddy --grpc_keepalive_timeout=360s
common:buildbuddy --bes_results_url=https://app.buildbuddy.io/invocation/
common:buildbuddy --bes_backend=grpcs://remote.buildbuddy.io
common:buildbuddy --remote_build_event_upload=minimal
common:buildbuddy --nolegacy_important_outputs
common:buildbuddy --noslim_profile
common:buildbuddy --experimental_profile_include_target_label
common:buildbuddy --experimental_profile_include_primary_output
# Remote Build Execution (BuildBuddy)
common:rbe --config=buildbuddy
common:rbe --remote_executor=grpcs://remote.buildbuddy.io
common:rbe --jobs=50
build:rbe --crosstool_top=@buildbuddy_toolchain//:toolchain
build:rbe --extra_toolchains=@buildbuddy_toolchain//:cc_toolchain
build:rbe --host_platform=@buildbuddy_toolchain//:platform
build:rbe --platforms=@buildbuddy_toolchain//:platform
build:rbe --extra_execution_platforms=@buildbuddy_toolchain//:platform
build:rbe --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
# With RBE, tar outputs should be cached so remote workers can stage them
build:rbe --modify_execution_info=Tar=-no-remote-cache
# Disable Ryuk sidecar for testcontainers in Firecracker microVMs
build:rbe --test_env=TESTCONTAINERS_RYUK_DISABLED=true
# Use Docker bridge gateway for container connectivity in DinD environments
test:ci --test_env=TESTCONTAINERS_HOST_OVERRIDE=172.17.0.1

# CI includes BuildBuddy RBE
common:ci --config=buildbuddy
common:ci --build_metadata=ROLE=CI
common:ci --build_metadata=VISIBILITY=PUBLIC

# Don't build protoc from the cc_binary, it's slow and spammy when cache miss
common --@protobuf//bazel/toolchains:prefer_prebuilt_protoc
common --incompatible_python_disallow_native_rules

# Allow user-specific overrides for this repository
# in a git-ignored file.
# Should be at the end of this file so that users can override anything above.
try-import %workspace%/.bazelrc.user
