watch_file bazel-out/lazy_bazel_env-opt/bin/tools/dev/bin
PATH_add bazel-out/lazy_bazel_env-opt/bin/tools/dev/bin
if [[ ! -d bazel-out/lazy_bazel_env-opt/bin/tools/dev/bin ]]; then
  log_error "ERROR[lazy_bazel_env]: Run 'bazel run //tools:dev' to regenerate bazel-out/lazy_bazel_env-opt/bin/tools/dev/bin"
fi

export GOPACKAGESDRIVER=$PWD/tools/gopackagesdriver.sh
export GOPACKAGESDRIVER_BAZEL_BUILD_FLAGS="--strategy=GoStdlibList=local"
